@import "./utils/var";
@import "./utils/placeholders";
@import "./utils/visually-hidden";
@import "./base/reset";
@import "./base/common";
@import "./components/buttons";
@import "./components/container";
@import "./components/footer-form";
@import "./components/logo";
@import "./components/modal-form";
@import "./components/modal";
@import "./components/section";
@import "./components/socials";
@import "./layouts/about-us";
@import "./layouts/about";
@import "./layouts/clients";
@import "./layouts/footer";
@import "./layouts/header-nav";
@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/portfolio";
@import "./layouts/team";