.footer-form {
    margin-left: 93px;
}

.footer-label {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: $white-color;
}

.footer-input {
    padding-left: 30px;
    background-color: inherit;

    width: 358px;
    height: 50px;

    color: $white-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.button-footer-form {
    display: inline-flex;
    align-items: center;
    text-align: center;

    margin-left: 12px;
    padding: 10px 29px;
    border-radius: 4px;
    border: 1px solid $accent-color;
    min-width: 200px;
    height: 50px;

    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    cursor: pointer;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.icon-telegram {
    margin-left: 10px;
    fill: currentColor;
}