.header-list-contact {
    display: flex;
    justify-content: end;
}


.header-item-contact {
    display: flex;
    align-items: center;
    margin-right: 30px;
    flex-direction: row-reverse;
}

.header-item-contact:last-child {
    margin: 0;
}

.header-link-item {
    margin-right: 50px;
}

.header-link-item:last-child {
    margin: 0;
}


.header-contact {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $description-color;
    fill: $description-color;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: $accent-color;
    cursor: pointer;
    fill: $accent-color;

    transition-duration: 250ms;
   }
}

.contact-icon {
    margin-right: 10px;
}

