.header {
    border: 1px solid #ECECEC;
}

.header-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--black-txt-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: $accent-color;
    cursor: pointer;

    transition-duration: 250ms;
    }

}
.header-container {
    display: flex;
    align-items: center;
}

.header-list-wraper {
    display: flex;
    margin-left: 93px;
    align-items: center;
}

.current {
    position: relative;
    color: $accent-color
}

.current::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    display: inline-block;
    background: $accent-color;
    border-radius: 2px;

}
.header-list {
    display: flex;
    align-items: center;
}

.header-addres-wrapper {
    margin-left: auto;
    align-items: center;

}